body {
    background-image: url("https://images.vexels.com/media/users/3/152114/raw/9a377e54a622cfeaee076482dd329cac-ilustracion-de-pizarra-negra.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }